

<div class='container'>
  <div class='row'>
    <div class='col-xs-4'>
    <h1>Signup!</h1>
    <%= simple_form_for @user, class:'form-horizontal' do |f| %>
      <%= f.input :name %>
      <%= f.input :password %>
      <%= f.input :email %>
      <%= f.button :submit, "Signup!", class: "btn btn-primary" %>
    <% end %>
   </div>
  </div>
</div>
