

<div class='container'>
  <div class='row'>
    <div class='col-xs-4'>
    <h1>Add Photo to Gallery</h1>
    <%= simple_form_for @photo, class:'form-horizontal' do |f| %>
      <%= f.input :caption %>
      <%= f.input :image %>
      <%= f.button :submit, "Add Photo", class: "btn btn-primary" %>
    <% end %>
    <%= button_to "View this Gallery", gall_path, method: 'get', id: @gall.id %>show
    <%= button_to "View list of Galleries", galls_path, method: 'get' %> index
   </div>
  </div>
</div>
