
<div class='row'>
  <div class='col-xs-12 text-center'>
    <p>Gallery <%= @gall.title%> by user <%= current_user.name %> </p>
    <% if @gall.photos.count > 0 %>
      <% @gall.photos.each do |photo| %>
          <%= link_to image_tag(photo.image.versions[:thumb]) %>
          <%= link_to 'Delete', photo_path, method: 'delete', class: "btn btn-outline btn-sm" %>
          <p><%= photo.caption %></p>
          <small><%= photo.created_at.strftime("%A %b. %e %l:%m%P") %></small>
          <p>------------------------------------</p>
      <% end %>
    <% else %>
      <p>No photos in Gallery</p>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='col-xs-12 text-center'>
    <%=link_to 'Add Photo', new_photo_path(@gall), :method => 'get', class: "btn btn-primary btn-sm"%>
    <%=link_to 'Share', new_gall_share_path(@gall.id), method: 'get', class: "btn btn-primary btn-sm"%>
  </div>
</div>
